@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("../fonts/themify-icons.css");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  clear: both; }

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0;
  font-family: "Poppins", sans-serif; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden],
template {
  display: none; }

a {
  background-color: transparent;
  color: #0074ad;
  text-decoration: none; }

a:active,
a:hover {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
optgroup,
strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 1em 40px; }

hr {
  box-sizing: content-box;
  height: 0; }

pre,
textarea {
  overflow: auto; }

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
html input[disabled] {
  cursor: default; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

input[type=checkbox],
input[type=radio] {
  box-sizing: border-box;
  padding: 0; }

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  height: auto; }

input[type=search] {
  -webkit-appearance: textfield;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  padding: 0; }

*,
:after,
:before {
  box-sizing: inherit; }

ul:not(.browser-default) {
  padding-left: 0;
  list-style-type: none; }

ul:not(.browser-default) li {
  list-style-type: none; }

.valign-wrapper {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center; }

.valign-wrapper .valign {
  display: block; }

.clearfix {
  clear: both; }

.btn-floating:hover,
.btn-large-white:hover,
.btn-large:hover,
.btn-mid:hover,
.btn-rp:hover,
.btn:hover,
.z-depth-1-half {
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 7px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -1px rgba(0, 0, 0, 0.2); }

.z-depth-3 {
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.3); }

.z-depth-4 {
  box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.3); }

.z-depth-5 {
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.3); }

.hoverable {
  transition: box-shadow .25s;
  box-shadow: 0; }

.hoverable:hover {
  transition: box-shadow .25s;
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }

.card {
  -webkit-box-shadow: 1px 1px 40px 1px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 1px 1px 40px 1px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 1px 1px 40px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 1px 1px 40px 1px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  border-radius: 15px;
  padding: 20px; }

.divider {
  height: 1px;
  overflow: hidden;
  background-color: #e0e0e0; }

.bg-voilet {
  background-color: #b734fd; }

.bg-blue {
  background-color: #0068ff; }

.bg-sun-yellow {
  background-color: #ddb100; }

.bg-lime-red {
  background-color: #ff5051; }

img {
  max-width: 100%; }

.app-container {
  background-color: #B6BDFF;
  padding: 4px 3rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  position: relative;
  overflow: hidden; }

.wrapper {
  border-radius: 15px;
  display: flex;
  flex-direction: row;
  width: 100%;
  overflow: hidden;
  padding: 0;
  background-color: #f3f6ff;
  transform: scale(0.9);
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  -o-transform: scale(0.9); }

.side-nav {
  width: 20%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  border-radius: 15px;
  background-color: #ffffff;
  -webkit-box-shadow: 1px 1px 40px 1px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 1px 1px 40px 1px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 1px 1px 40px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 1px 1px 40px 1px rgba(0, 0, 0, 0.1);
  transform: translateX(-300px);
  -webkit-transform: translateX(-300px);
  -moz-transform: translateX(-300px);
  -o-transform: translateX(-300px);
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear; }
  .side-nav .brand-logo {
    width: 150px;
    height: auto;
    margin-bottom: 10px;
    opacity: 0;
    transform: translateY(20px);
    -webkit-transform: translateY(20px);
    -moz-transform: translateY(20px);
    -o-transform: translateY(20px);
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear; }
  .side-nav .menu {
    margin-top: 20px;
    position: relative;
    height: 100%; }
    .side-nav .menu ul li a {
      display: flex;
      align-items: center;
      font-size: 1rem;
      color: #2a1a4e;
      padding: 10px 0;
      font-weight: 500;
      opacity: 0.6;
      text-decoration: none;
      text-transform: capitalize;
      -webkit-transition: all 0.3s linear;
      -moz-transition: all 0.3s linear;
      -o-transition: all 0.3s linear;
      transition: all 0.3s linear; }
      .side-nav .menu ul li a:hover {
        opacity: 1; }
      .side-nav .menu ul li a i {
        margin-right: 5px; }
      .side-nav .menu ul li a:hover i {
        color: #0068ff; }
    .side-nav .menu ul li:nth-child(1) {
      transform: translateY(20px);
      -webkit-transform: translateY(20px);
      -moz-transform: translateY(20px);
      -o-transform: translateY(20px);
      -webkit-transition: all 0.3s linear;
      -moz-transition: all 0.3s linear;
      -o-transition: all 0.3s linear;
      transition: all 0.3s linear;
      opacity: 0; }
    .side-nav .menu ul li:nth-child(2) {
      transform: translateY(20px);
      -webkit-transform: translateY(20px);
      -moz-transform: translateY(20px);
      -o-transform: translateY(20px);
      -webkit-transition: all 0.3s linear;
      -moz-transition: all 0.3s linear;
      -o-transition: all 0.3s linear;
      transition: all 0.3s linear;
      opacity: 0; }
    .side-nav .menu ul li:nth-child(3) {
      transform: translateY(20px);
      -webkit-transform: translateY(20px);
      -moz-transform: translateY(20px);
      -o-transform: translateY(20px);
      -webkit-transition: all 0.3s linear;
      -moz-transition: all 0.3s linear;
      -o-transition: all 0.3s linear;
      transition: all 0.3s linear;
      opacity: 0; }
    .side-nav .menu ul li:nth-child(4) {
      transform: translateY(20px);
      -webkit-transform: translateY(20px);
      -moz-transform: translateY(20px);
      -o-transform: translateY(20px);
      -webkit-transition: all 0.3s linear;
      -moz-transition: all 0.3s linear;
      -o-transition: all 0.3s linear;
      transition: all 0.3s linear;
      opacity: 0; }
    .side-nav .menu ul li:nth-child(5) {
      transform: translateY(20px);
      -webkit-transform: translateY(20px);
      -moz-transform: translateY(20px);
      -o-transform: translateY(20px);
      -webkit-transition: all 0.3s linear;
      -moz-transition: all 0.3s linear;
      -o-transition: all 0.3s linear;
      transition: all 0.3s linear;
      opacity: 0; }
    .side-nav .menu ul li:nth-child(6) {
      transform: translateY(20px);
      -webkit-transform: translateY(20px);
      -moz-transform: translateY(20px);
      -o-transform: translateY(20px);
      -webkit-transition: all 0.3s linear;
      -moz-transition: all 0.3s linear;
      -o-transition: all 0.3s linear;
      transition: all 0.3s linear;
      opacity: 0; }
    .side-nav .menu .footer-nav {
      position: absolute;
      bottom: 0;
      transform: translateY(20px);
      background-color: #f3f6ff;
      border-radius: 15px;
      padding: 15px;
      transform: scale(0);
      -webkit-transform: scale(0);
      -moz-transform: scale(0);
      -o-transform: scale(0);
      -webkit-transition: all 0.3s linear;
      -moz-transition: all 0.3s linear;
      -o-transition: all 0.3s linear;
      transition: all 0.3s linear; }
      .side-nav .menu .footer-nav a {
        background-color: #2a1a4e;
        color: #ffffff;
        padding: 10px 15px;
        font-weight: 300;
        font-size: 1rem;
        border-radius: 15px;
        -webkit-transition: all 0.3s linear;
        -moz-transition: all 0.3s linear;
        -o-transition: all 0.3s linear;
        transition: all 0.3s linear; }
        .side-nav .menu .footer-nav a:hover {
          background-color: #ff5051;
          -webkit-transition: all 0.3s linear;
          -moz-transition: all 0.3s linear;
          -o-transition: all 0.3s linear;
          transition: all 0.3s linear; }

.content-holder {
  background-color: #f3f6ff;
  padding: 2rem;
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 10px;
  grid-template-areas: "g-1 g-2 g-4" "g-1 g-2 g-4" "g-3 g-3 g-4"; }
  .content-holder .g-1 {
    grid-area: g-1; }
  .content-holder .g-2 {
    grid-area: g-2; }
  .content-holder .g-3 {
    grid-area: g-3; }
  .content-holder .g-4 {
    grid-area: g-4; }

.g-1 .profile-holder {
  transform: scale(0);
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -o-transform: scale(0);
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear; }
  .g-1 .profile-holder .profile-pic {
    display: flex;
    text-align: center;
    margin: 0 auto;
    overflow: hidden;
    flex-direction: column;
    align-items: center; }
    .g-1 .profile-holder .profile-pic img {
      width: 100px;
      height: 100px;
      margin-bottom: 20px;
      border-radius: 50%;
      border: 2px solid #f3f6ff;
      transform: scale(0);
      -webkit-transform: scale(0);
      -moz-transform: scale(0);
      -o-transform: scale(0);
      -webkit-transition: all 0.3s linear;
      -moz-transition: all 0.3s linear;
      -o-transition: all 0.3s linear;
      transition: all 0.3s linear; }
    .g-1 .profile-holder .profile-pic h4 {
      transform: translateY(10px);
      -webkit-transform: translateY(10px);
      -moz-transform: translateY(10px);
      -o-transform: translateY(10px);
      -webkit-transition: all 0.3s linear;
      -moz-transition: all 0.3s linear;
      -o-transition: all 0.3s linear;
      transition: all 0.3s linear; }
    .g-1 .profile-holder .profile-pic p {
      transform: translateY(10px);
      -webkit-transform: translateY(10px);
      -moz-transform: translateY(10px);
      -o-transform: translateY(10px);
      -webkit-transition: all 0.3s linear;
      -moz-transition: all 0.3s linear;
      -o-transition: all 0.3s linear;
      transition: all 0.3s linear;
      margin-bottom: 30px; }
  .g-1 .profile-holder .staus ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 20px; }
    .g-1 .profile-holder .staus ul li {
      padding: 10px; }
      .g-1 .profile-holder .staus ul li p span {
        display: block;
        text-align: center;
        opacity: 0.6; }
        .g-1 .profile-holder .staus ul li p span:nth-child(1) {
          font-weight: 600;
          opacity: 1; }
      .g-1 .profile-holder .staus ul li:nth-child(1) {
        border-bottom: 1px solid #eee; }
      .g-1 .profile-holder .staus ul li:nth-child(2) {
        border-left: 1px solid #eee; }
      .g-1 .profile-holder .staus ul li:nth-child(3) {
        border-right: 1px solid #eee; }
      .g-1 .profile-holder .staus ul li:nth-child(4) {
        border-top: 1px solid #eee; }

.g-2 .activity {
  transform: scale(0);
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -o-transform: scale(0);
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear; }
  .g-2 .activity .top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    transform: translateY(-10px);
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -o-transform: translateY(-10px);
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
    opacity: 0; }
  .g-2 .activity .in-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between; }
.g-2 .activity-container {
  margin-top: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 10px;
  position: relative;
  grid-template-areas: "p-1 b-1 b-2 b-3 b-4 b-5 b-6 b-7" "p-2 b-1 b-2 b-3 b-4 b-5 b-6 b-7" "p-3 b-1 b-2 b-3 b-4 b-5 b-6 b-7" ". w-1 w-2 w-3 w-4 w-5 w-6 w-7"; }
  .g-2 .activity-container .p-1 {
    grid-area: p-1; }
  .g-2 .activity-container .p-2 {
    grid-area: p-2; }
  .g-2 .activity-container .p-3 {
    grid-area: p-3; }
  .g-2 .activity-container .w-1 {
    grid-area: w-1; }
  .g-2 .activity-container .w-2 {
    grid-area: w-2; }
  .g-2 .activity-container .w-3 {
    grid-area: w-3; }
  .g-2 .activity-container .w-4 {
    grid-area: w-4; }
  .g-2 .activity-container .w-5 {
    grid-area: w-5; }
  .g-2 .activity-container .w-6 {
    grid-area: w-6; }
  .g-2 .activity-container .w-7 {
    grid-area: w-7; }
  .g-2 .activity-container .b-1 {
    grid-area: b-1;
    position: relative;
    overflow: hidden; }
  .g-2 .activity-container .b-2 {
    grid-area: b-2;
    position: relative;
    overflow: hidden; }
  .g-2 .activity-container .b-3 {
    grid-area: b-3;
    position: relative;
    overflow: hidden; }
  .g-2 .activity-container .b-4 {
    grid-area: b-4;
    position: relative;
    overflow: hidden; }
  .g-2 .activity-container .b-5 {
    grid-area: b-5;
    position: relative;
    overflow: hidden; }
  .g-2 .activity-container .b-6 {
    grid-area: b-6;
    position: relative;
    overflow: hidden; }
  .g-2 .activity-container .b-7 {
    grid-area: b-7;
    position: relative;
    overflow: hidden; }
  .g-2 .activity-container svg {
    position: absolute;
    bottom: 0px;
    transform: translateY(150px);
    -webkit-transform: translateY(150px);
    -moz-transform: translateY(150px);
    -o-transform: translateY(150px);
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
    opacity: 0; }
.g-2 .activity + .activity {
  margin-top: 20px; }

.g-3 .activity {
  display: grid;
  align-items: center;
  grid-template-columns: 60% 40%; }
  .g-3 .activity .content h2 {
    transform: translateY(-20px);
    -webkit-transform: translateY(-20px);
    -moz-transform: translateY(-20px);
    -o-transform: translateY(-20px);
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
    opacity: 0; }
  .g-3 .activity .content p {
    transform: translateY(30px);
    -webkit-transform: translateY(30px);
    -moz-transform: translateY(30px);
    -o-transform: translateY(30px);
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
    opacity: 0; }
  .g-3 .activity .img-holder {
    position: relative; }
    .g-3 .activity .img-holder div {
      width: 100%;
      height: auto;
      position: absolute;
      top: -100px;
      transform: scale(0);
      -webkit-transform: scale(0);
      -moz-transform: scale(0);
      -o-transform: scale(0);
      -webkit-transition: all 0.3s linear;
      -moz-transition: all 0.3s linear;
      -o-transition: all 0.3s linear;
      transition: all 0.3s linear;
      opacity: 0; }

.g-4 {
  transform: translateY(40px);
  -webkit-transform: translateY(40px);
  -moz-transform: translateY(40px);
  -o-transform: translateY(40px);
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
  opacity: 0; }
  .g-4 .calender .top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    transform: translateY(-10px);
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -o-transform: translateY(-10px);
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
    opacity: 0; }
  .g-4 .calender .calender-container {
    margin-top: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 1px 1px;
    grid-template-areas: "w1 w2 w3 w4 w5 w6 w7" "d1 d2 d3 d4 d5 d6 d7" "d8 d9 d10 d11 d12 d13 d14" "d15 d16 d17 d18 d19 d20 d21" "d22 d23 d24 d25 d26 d27 d28" "d29 d30 . . . . .";
    transform: translateY(20px);
    -webkit-transform: translateY(20px);
    -moz-transform: translateY(20px);
    -o-transform: translateY(20px);
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
    opacity: 0; }
    .g-4 .calender .calender-container .w1 {
      grid-area: w1; }
    .g-4 .calender .calender-container .w2 {
      grid-area: w2; }
    .g-4 .calender .calender-container .w3 {
      grid-area: w3; }
    .g-4 .calender .calender-container .w4 {
      grid-area: w4; }
    .g-4 .calender .calender-container .w5 {
      grid-area: w5; }
    .g-4 .calender .calender-container .w6 {
      grid-area: w6; }
    .g-4 .calender .calender-container .w7 {
      grid-area: w7; }
    .g-4 .calender .calender-container .d1 {
      grid-area: d1; }
    .g-4 .calender .calender-container .d2 {
      grid-area: d2; }
    .g-4 .calender .calender-container .d3 {
      grid-area: d3; }
    .g-4 .calender .calender-container .d4 {
      grid-area: d4; }
    .g-4 .calender .calender-container .d5 {
      grid-area: d5; }
    .g-4 .calender .calender-container .d6 {
      grid-area: d6; }
    .g-4 .calender .calender-container .d7 {
      grid-area: d7; }
    .g-4 .calender .calender-container .d8 {
      grid-area: d8; }
    .g-4 .calender .calender-container .d9 {
      grid-area: d9; }
    .g-4 .calender .calender-container .d10 {
      grid-area: d10; }
    .g-4 .calender .calender-container .d11 {
      grid-area: d11; }
    .g-4 .calender .calender-container .d12 {
      grid-area: d12; }
    .g-4 .calender .calender-container .d13 {
      grid-area: d13; }
    .g-4 .calender .calender-container .d14 {
      grid-area: d14; }
    .g-4 .calender .calender-container .d15 {
      grid-area: d15; }
    .g-4 .calender .calender-container .d16 {
      grid-area: d16; }
    .g-4 .calender .calender-container .d17 {
      grid-area: d17; }
    .g-4 .calender .calender-container .d18 {
      grid-area: d18; }
    .g-4 .calender .calender-container .d19 {
      grid-area: d19; }
    .g-4 .calender .calender-container .d20 {
      grid-area: d20; }
    .g-4 .calender .calender-container .d21 {
      grid-area: d21; }
    .g-4 .calender .calender-container .d22 {
      grid-area: d22; }
    .g-4 .calender .calender-container .d23 {
      grid-area: d23; }
    .g-4 .calender .calender-container .d24 {
      grid-area: d24; }
    .g-4 .calender .calender-container .d25 {
      grid-area: d25; }
    .g-4 .calender .calender-container .d26 {
      grid-area: d26; }
    .g-4 .calender .calender-container .d27 {
      grid-area: d27; }
    .g-4 .calender .calender-container .d28 {
      grid-area: d28; }
    .g-4 .calender .calender-container .d29 {
      grid-area: d29; }
    .g-4 .calender .calender-container .d30 {
      grid-area: d30; }
  .g-4 .divider {
    margin-top: 20px; }
  .g-4 .appointmet {
    position: relative;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    border-radius: 15px;
    overflow: hidden;
    padding: 20px; }
    .g-4 .appointmet::after {
      content: '';
      position: absolute;
      top: -15px;
      left: -10px;
      width: 70px;
      height: 70px;
      border-radius: 50px;
      display: inline-block;
      background-color: #fff;
      background: white;
      background: -moz-linear-gradient(90deg, white 10%, rgba(255, 255, 255, 0) 100%);
      background: -webkit-linear-gradient(90deg, white 10%, rgba(255, 255, 255, 0) 100%);
      background: linear-gradient(90deg, white 10%, rgba(255, 255, 255, 0) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#ffffff",GradientType=1);
      z-index: 9;
      opacity: 0.5; }
    .g-4 .appointmet::before {
      content: '';
      position: absolute;
      top: 15px;
      left: 80%;
      width: 70px;
      height: 70px;
      border-radius: 50px;
      display: inline-block;
      background-color: #fff;
      background: white;
      background: -moz-linear-gradient(90deg, white 10%, rgba(255, 255, 255, 0) 100%);
      background: -webkit-linear-gradient(90deg, white 10%, rgba(255, 255, 255, 0) 100%);
      background: linear-gradient(90deg, white 10%, rgba(255, 255, 255, 0) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#ffffff",GradientType=1);
      z-index: 9;
      opacity: 0.5; }
    .g-4 .appointmet .info {
      color: #ffffff; }
    .g-4 .appointmet a {
      display: inline-block;
      padding: 10px;
      border-radius: 10px;
      background-color: #ffffff;
      text-decoration: none;
      color: #2a1a4e; }
  .g-4 .appointmet.bg-voilet {
    transform: translateX(20px);
    -webkit-transform: translateX(20px);
    -moz-transform: translateX(20px);
    -o-transform: translateX(20px);
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
    opacity: 0; }
  .g-4 .appointmet.bg-blue {
    transform: translateX(30px);
    -webkit-transform: translateX(30px);
    -moz-transform: translateX(30px);
    -o-transform: translateX(30px);
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
    opacity: 0; }
  .g-4 .appointmet.bg-sun-yellow {
    transform: translateX(40px);
    -webkit-transform: translateX(40px);
    -moz-transform: translateX(40px);
    -o-transform: translateX(40px);
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
    opacity: 0; }
  .g-4 .appointmet.bg-lime-red {
    transform: translateX(50px);
    -webkit-transform: translateX(50px);
    -moz-transform: translateX(50px);
    -o-transform: translateX(50px);
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
    opacity: 0; }

.progress_bar {
  margin-top: 10px;
  position: relative; }

.progress_bar .health-wrap,
.progress_bar .water-wrap {
  height: 100px;
  width: 100px;
  display: inline-block;
  position: relative;
  background: #fff;
  border-radius: 50%;
  box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3);
  margin: 0 5px; }

.progress_bar .health-wrap a,
.progress_bar .water-wrap a
a {
  position: absolute;
  width: 100px;
  color: #727272;
  text-decoration: none;
  border-bottom: none;
  bottom: 35px;
  right: 0;
  text-align: center;
  font-weight: light;
  font-size: 12px; }

.progress_bar .health-wrap a:hover,
.progress_bar .water-wrap a:hover {
  text-decoration: underline; }

.progress_bar svg {
  height: 100px;
  transform: rotate(-90deg);
  width: 100px; }

.progress_bar svg .rating-progress-background {
  fill: none;
  stroke: #E9E9E7;
  stroke-width: 2; }

.progress_bar svg .rating-progress {
  fill: none;
  stroke: #FF5D00;
  stroke-dasharray: 100 100;
  stroke-dashoffset: 100;
  stroke-linecap: square;
  stroke-width: 2;
  transition: all 1.2s cubic-bezier(0.99, 0.01, 0.62, 0.94); }

.progress_bar svg .under-50 {
  stroke: #ff5051; }

.progress_bar svg .under-75 {
  stroke: #0068ff; }

.progress_bar svg .over-75 {
  stroke: #b734fd; }

.progress_bar #walk-score,
.progress_bar #transit-score {
  position: absolute;
  width: 100px;
  color: black;
  font-size: 1.8rem;
  text-align: center;
  top: 30%;
  opacity: 0.6; }

.app-container.animation .side-nav {
  transform: translateY(0);
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -o-transform: translateY(0);
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear; }

.app-container.animation .brand-logo {
  transform: translateY(0);
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -o-transform: translateY(0);
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
  opacity: 1;
  transition-delay: 0.5s; }

.app-container.animation .menu ul li:nth-child(1) {
  transform: translateY(0px);
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  -o-transform: translateY(0px);
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
  opacity: 1;
  transition-delay: 0.7s; }
.app-container.animation .menu ul li:nth-child(2) {
  transform: translateY(0px);
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  -o-transform: translateY(0px);
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
  opacity: 1;
  transition-delay: 0.8s; }
.app-container.animation .menu ul li:nth-child(3) {
  transform: translateY(0px);
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  -o-transform: translateY(0px);
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
  opacity: 1;
  transition-delay: 0.9s; }
.app-container.animation .menu ul li:nth-child(4) {
  transform: translateY(0px);
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  -o-transform: translateY(0px);
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
  opacity: 1;
  transition-delay: 1s; }
.app-container.animation .menu ul li:nth-child(5) {
  transform: translateY(0px);
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  -o-transform: translateY(0px);
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
  opacity: 1;
  transition-delay: 1.1s; }
.app-container.animation .menu ul li:nth-child(6) {
  transform: translateY(0px);
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  -o-transform: translateY(0px);
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
  opacity: 1;
  transition-delay: 1.2s; }

.app-container.animation .footer-nav {
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
  transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -o-transform: scale(1);
  transition-delay: 1.4s; }

.app-container.animation .profile-holder {
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
  transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -o-transform: scale(1);
  transition-delay: .3s; }

.app-container.animation .profile-pic img {
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
  transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -o-transform: scale(1);
  transition-delay: .4s; }

.app-container.animation .profile-pic h4 {
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
  transform: translateY(0);
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -o-transform: translateY(0);
  transition-delay: .5s; }

.app-container.animation .profile-pic p {
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
  transform: translateY(0);
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -o-transform: translateY(0);
  transition-delay: .6s; }

.app-container.animation .activity-container svg {
  transform: translateY(0);
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -o-transform: translateY(0);
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
  transition-duration: 0.3s;
  transition-delay: .7s;
  opacity: 1; }

.app-container.animation .activity {
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
  transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -o-transform: scale(1);
  transition-delay: .3s; }

.app-container.animation .appointmet:nth-child(1) {
  transform: translateY(0px);
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  -o-transform: translateY(0px);
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
  opacity: 1;
  transition-delay: 0.9s; }

.app-container.animation .activity .top, .app-container.animation .calender .top {
  transform: translateY(0);
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -o-transform: translateY(0);
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
  opacity: 1;
  transition-delay: .6s; }

.app-container.animation .content h2 {
  transform: translateY(0);
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -o-transform: translateY(0);
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
  transition-delay: .8s;
  opacity: 1; }

.app-container.animation .content p {
  transform: translateY(0);
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -o-transform: translateY(0);
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
  transition-delay: .9s;
  opacity: 1; }

.app-container.animation .activity .img-holder div {
  transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -o-transform: scale(1);
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
  transition-duration: 0.2s;
  opacity: 1; }

.app-container.animation .g-4 {
  transform: translateY(0px);
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  -o-transform: translateY(0px);
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
  opacity: 1; }

.app-container.animation .calender-container {
  transform: translateY(0);
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -o-transform: translateY(0);
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
  transition-delay: .7s;
  opacity: 1;
  transition-delay: .2s; }

.app-container.animation .appointmet.bg-voilet {
  transform: translateX(0px);
  -webkit-transform: translateX(0px);
  -moz-transform: translateX(0px);
  -o-transform: translateX(0px);
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
  opacity: 1;
  transition-delay: .7s; }

.app-container.animation .appointmet.bg-blue {
  transform: translateX(0px);
  -webkit-transform: translateX(0px);
  -moz-transform: translateX(0px);
  -o-transform: translateX(0px);
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
  opacity: 1;
  transition-delay: .8s; }

.app-container.animation .appointmet.bg-sun-yellow {
  transform: translateX(0px);
  -webkit-transform: translateX(0px);
  -moz-transform: translateX(0px);
  -o-transform: translateX(0px);
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
  opacity: 1;
  transition-delay: .9s; }

.app-container.animation .appointmet.bg-lime-red {
  transform: translateX(0px);
  -webkit-transform: translateX(0px);
  -moz-transform: translateX(0px);
  -o-transform: translateX(0px);
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
  opacity: 1;
  transition-delay: 1s; }

@keyframes slide-up {
  0% {
    background-position: -200px 0; }
  100% {
    background-position: 468px 0; } }

/*# sourceMappingURL=style.css.map */
